<form action="" id="bookForm">
    <div id="bookFormalerts"></div>
    <input type="text" name="id" id="id" value="" hidden>

    <div class="mb-3">
        <label for="name" class="form-label">Book Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="some book name">
        <ul id="name-errors" class="text-danger">

        </ul>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>

        <select class="form-control" id="category" name="category">
            <option value=""></option>
            {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <ul id="category-errors" class="text-danger">

        </ul>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>

        <select class="form-control" id="author" name="author">
            <option value=""></option>
            {% for author in authors %}
                <option value="{{author.id}}">{{author.name}}</option>
            {% endfor %}
        </select>
        <ul id="author-errors" class="text-danger">

        </ul>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        <ul id="description-errors" class="text-danger">

        </ul>
    </div>

    <div class="mb-3">
        <label for="publish_at" class="form-label">Publish Date</label>
        <input name="publish_at" type="date" class="form-control" id="publish_at" >
        <ul id="publish_at-errors" class="text-danger">

        </ul>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input name="price" type="number" class="form-control" id="price" >
        <ul id="price-errors" class="text-danger">

        </ul>
    </div>
    <div class="mb-3">
        <label for="poster" class="form-label">poster</label>
        <input name="poster" type="file" class="form-control" id="poster" >
        <ul id="poster-errors" class="text-danger">

        </ul>
    </div>
      
</form>
